# MONGODB_URL: Connection string for MongoDB (e.g. Atlas cluster)
MONGODB_URL="mongodb+srv://user:pass@cluster.mongodb.net/ems?retryWrites=true&w=majority"

# CLERK_SECRET_KEY: Required for user authentication backend (Starts with sk_test_ or sk_live_)
CLERK_SECRET_KEY="sk_test_your_clerk_secret_key"

# VITE_CLERK_PUBLISHABLE_KEY: Required for user authentication frontend (Starts with pk_test_ or pk_live_)
VITE_CLERK_PUBLISHABLE_KEY="pk_test_your_clerk_publishable_key"
